HELP.md
target/
bin/
!.mvn/wrapper/maven-wrapper.jar
Postgres User Session.sql

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### MAC ###
.DS_Store

src/test/java/com/techatpark/hackerrank/*
/*.log
/pom.xml.versionsBackup
/logs/
